#### Global Salaries in Cybersecurity

In [1]:
# import numpy as np 
import pandas as pd
# import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [4]:
train_df = pd.read_excel("preview200.xlsx")
# train_df, test_df = train_test_split(train_df, test_size=0.2)

In [5]:
display(train_df.head())

print(f"\nDimensions: {train_df.shape[0]} rows × {train_df.shape[1]} columns")

,Series,Time,CPU_Load,Power,Network_RX,Network_TX,Inlet_Temperature,CPU1_Temperature,CPU2_Temperature,Fan_speed1,Fan_speed2,Fan_speed3,Fan_speed4,Ram,Ram_Used,No_Of_Running_vms,CPU_cores,CPU_cores_used
0,qh2-rcc120,2018-10-09 11:20:00,3.468500,90.533333,408343.338389,147737.953254,16.966667,37.083333,36.716667,7502.833333,7571.666667,7500.500000,7462.000000,64.454875,37.70275,15,64,63
1,qh2-rcc120,2018-10-09 11:30:00,3.622833,88.933333,44589.407008,202395.924763,17.000000,37.783333,37.083333,7141.166667,7182.000000,7147.000000,7113.166667,64.454875,37.70275,15,64,63
2,qh2-rcc120,2018-10-09 11:40:00,3.414500,88.800000,40146.872453,157905.963285,17.000000,38.233333,37.466667,6728.166667,6802.833333,6743.333333,6729.333333,64.454875,37.70275,15,64,63
3,qh2-rcc120,2018-10-09 11:50:00,3.332500,89.866667,441692.385339,142941.034500,17.000000,38.183333,37.550000,6813.333333,6856.500000,6808.666667,6771.333333,64.454875,37.70275,15,64,63
4,qh2-rcc120,2018-10-09 12:00:00,3.364000,89.600000,422057.822324,770341.893781,16.950000,37.416667,36.866667,7390.833333,7445.666667,7401.333333,7351.166667,64.454875,37.70275,15,64,63

Dimensions: 200 rows × 18 columns

In [6]:
print("Null values in train_df:")
print(train_df.isnull().sum())

# print("\nNull values in test_df:")
# print(test_df.isnull().sum())

Null values in train_df:
Series               0
Time                 0
CPU_Load             0
Power                0
Network_RX           0
Network_TX           0
Inlet_Temperature    0
CPU1_Temperature     0
CPU2_Temperature     0
Fan_speed1           0
Fan_speed2           0
Fan_speed3           0
Fan_speed4           0
Ram                  0
Ram_Used             0
No_Of_Running_vms    0
CPU_cores            0
CPU_cores_used       0
dtype: int64

In [7]:
# Unique values in train_df
print("Unique values in train_df:")
for column in train_df.columns:
    print(f"{column}: {train_df[column].nunique()} unique values")

# Unique values in test_df
# print("\nUnique values in test_df:")
# for column in test_df.columns:
#     print(f"{column}: {test_df[column].nunique()} unique values")

Unique values in train_df:
Series: 1 unique values
Time: 200 unique values
CPU_Load: 199 unique values
Power: 106 unique values
Network_RX: 200 unique values
Network_TX: 200 unique values
Inlet_Temperature: 42 unique values
CPU1_Temperature: 152 unique values
CPU2_Temperature: 166 unique values
Fan_speed1: 177 unique values
Fan_speed2: 183 unique values
Fan_speed3: 180 unique values
Fan_speed4: 185 unique values
Ram: 1 unique values
Ram_Used: 7 unique values
No_Of_Running_vms: 1 unique values
CPU_cores: 1 unique values
CPU_cores_used: 1 unique values

In [8]:
# Numerical columns: calculate range
numerical_columns = train_df.select_dtypes(include=['int64', 'float64']).columns
for column in numerical_columns:
    print(f"{column}: Range = {train_df[column].min()} to {train_df[column].max()}")

# Categorical columns: list unique values
categorical_columns = train_df.select_dtypes(include=['object']).columns
for column in categorical_columns:
    unique_values = train_df[column].unique()
    print(f"{column}: Unique values = {', '.join(map(str, unique_values))}")

CPU_Load: Range = 3.133833333333333 to 7.690833333333333
Power: Range = 88.0 to 143.46666666666667
Network_RX: Range = 37870.36685655 to 4624652.272399483
Network_TX: Range = 120181.63142338335 to 4331964.342050851
Inlet_Temperature: Range = 16.833333333333332 to 19.0
CPU1_Temperature: Range = 36.0 to 47.66666666666666
CPU2_Temperature: Range = 35.06666666666667 to 48.03333333333334
Fan_speed1: Range = 6728.166666666666 to 8296.166666666668
Fan_speed2: Range = 6802.833333333332 to 8380.166666666666
Fan_speed3: Range = 6743.333333333332 to 8289.166666666668
Fan_speed4: Range = 6729.333333333334 to 8247.166666666668
Ram: Range = 64.454875 to 64.454875
Ram_Used: Range = 17.482375 to 37.70275
No_Of_Running_vms: Range = 15 to 15
CPU_cores: Range = 64 to 64
CPU_cores_used: Range = 63 to 63
Series: Unique values = qh2-rcc120